*{
    margin:0;
    padding:0;
    
}

body{
    height:100vh;
    width:100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;

}

.red{
    border:1px solid black;
    width:1.2rem;
    height:1.2rem;
    cursor: pointer;
    background-color: red;
}

.container{
    height:400px;
    width:400px;
    display: flex;
    flex-wrap: wrap;
}

.green{
    border:1px solid black;
    width:1.2rem;
    height:1.2rem;
    background-color: rgb(72, 255, 0);
    cursor: pointer;
}

#reset{
    background-color: rgb(163, 248, 142);
    font-size:1.1rem;
    display: flex;
    flex-direction: row ;
}